
$small-breakpoint: 480px;
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;

$primary-color: #05f296;
$primary-darker: #02e88f;
$secondary-color: #9b51e0;
$secondary-darker: #9747e1;
$brand-color: #1f1926;
$neutral-color: #eee9e9;
$text-color: #333333;
$border-color: #9F9999;

$font-size-title-xl: 2.986rem; 
$font-size-title: 2.074rem;
$font-size-xl: 1.44rem;
$font-size-lg: 1.2rem; //18.22px
$font-size-normal: 1rem; //16px
$font-size-sm: 0.833rem; //13.33px

$nav-padding-x: 4rem;
$container-padding: 0 10%;
$section-spacing: 4rem;


/*MINOR THIRD*/

/*2.986em (47.78px) A Visual Type Scale
2.488em (39.81px) A Visual Type Scale
2.074em (33.18px) A Visual Type Scale
1.728em (27.65px) A Visual Type Scale
1.44em (23.04px) A Visual Type Scale
1.2em (19.20px) A Visual Type Scale
1em (16.00px) A Visual Type Scale
0.833em (13.33px) A Visual Type Scale*/


/*$font-size-sm: 0.937rem; 15px
$font-size-normal: 1rem; 16px
$font-size-lg: 1.138rem; 18.22px
*/