
$small-breakpoint: 480px;
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;

$primary-color: #05f296;
$primary-darker: #02e88f;
$secondary-color: #874AFF;
$secondary-darker: #7F3DFF;
$neutral-color: #eee9e9;
$text-color: #333333;
$border-color: #9F9999;
$background-color: #EEE;
$danger-color: #ff9090;

$font-size-title: 2.074rem;
$font-size-xl: 1.44rem;
$font-size-lg: 1.2rem;
$font-size-normal: 1rem; 
$font-size-sm: 0.833rem; 

$nav-padding-x: 4rem;
$nav-items-spacing: 5vw;
$container-padding: 0 10%;
$section-spacing: 4rem;