@import '../abstracts/variables';
@import '../abstracts/mixins';

.retangulo {
    width: 100%;
    background-color: $background-color;
    border-radius: 2rem;
    margin: 0 auto;
    padding: 4rem 2rem 2rem 2rem;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;

    .imagem {
        text-align: right;
        margin-bottom: 2rem;
        border-radius: 20px;
        /*flex: 1 1 auto;*/
        /*        background: url("../img/blob-bg-projeto.svg") no-repeat center;
        background-size: 80%;
        padding: 5rem;*/
        /*overflow: visible;*/
        .img-projeto {
            border-radius: 20px;
            background: #fff;
            min-width: calc(#{$project-img-width} / 4);
            min-height: calc(#{$project-img-height} / 4);
            max-width: calc((#{$project-img-width} / 2) + 2vw);
            /*max-width: $project-img-width;*/
            display: flex;
            align-content: center;
            overflow: hidden;
            background: $background-color;
            position: relative;
            transition: filter 0.2s;

            &:hover {
                filter: brightness(97%);
            }

            .logo-overlay {
                position: absolute;
                z-index: 1;
            }

            .blurred {
                filter: blur(2px) brightness(90%);
            }

            img {
                width: 100%;
            }
        }
    }


    .descricao {
        text-align: center;
        flex: 1 1 auto;
        min-width: 50%;
    }

    .input-infos {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        input {
            font-size: $font-size-sm;
            border: none;
            border-radius: 20px;
            padding: 0.5rem 0.7rem;
            width: 50%;
            margin: 0 auto;

            :focus {
                outline: none !important;
                border: 1px solid $secondary-color;
                transition: 0.5s;
            }
        }
    }

    .bio-text {
        justify-self: center;
        border: none;
        border-radius: 20px;
        resize: none;
        width: 100%;
        min-height: 10rem;
        padding: 0.5rem 0.7rem;
    }
}

.upload {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;

    .upload-dica {
        width: 80%;
        text-align: center;
    }

    .upload-input {
        background: none;
        border: none;
        cursor: pointer;
        margin: 1rem 0;

        svg {
            width: 6rem;
            height: 6rem;
            color: $primary-color;

            &:hover {
                color: $primary-darker;
            }
        }
    }

    .upload-arq {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

   
    .uploads-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 1rem;
        width: 12rem;

        a>svg {
            cursor: pointer;
            width: 4rem;
            height: 4rem;
        }

        .delete-arq {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: absolute;
            right: 1rem;
            background: $danger-color;
            border: none;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            color: #fff;
        }
    }
}

#upload-arq {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.projeto-equipe {
    width: 70vw;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;

    .title-equipe {
        cursor: pointer;
    }

    .equipe-container {
        width: 100%;
        justify-content: center;
        padding: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .profile-pic {
            margin: 0;
        }
    }
}

.integrantes-grid {
    width: 100%;

    .integrante-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 2rem;


        .btn {
            font-size: $font-size-normal;
            padding: 0.5rem 0.7rem;
            height: fit-content;
        }


        .integrante-info {
            color: #9F9999;
            display: flex;
            align-items: center;
            text-align: left;
            width: 285px;


            .integrante-contato p:first-child {
                margin-bottom: 6px;
                /*background: red;*/
            }

            .profile-pic {
                margin: 0 1rem 0 0;
            }
        }

        .integrante-edit {
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-start;
            /*          margin-left: 4rem;
            margin-top: 1rem;*/
        }
    }
}

.search-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;

    .search-group {
        display: flex;

        input {
            font-size: $font-size-sm;
            border: 1px solid $border-color;
            border-radius: 20px;
            padding: 0.5rem 0.7rem;
            margin-right: 1rem;
            width: 14rem;
        }

        input:focus {
            outline: none !important;
            border: 1px solid $secondary-color;
            transition: 0.5s;
        }
    }
}




@include medium-max() {
    .retangulo {
        width: 100%;
        padding: 2rem 1rem 1rem 1rem;
    }

    .infos {
        .input-infos {
            input {
                width: 80%;
            }
        }
    }

    .integrante-info {
        margin-bottom: 1rem;
    }
}
