@import '../abstracts/_variables.scss';

.single-col {
    .form-group {
        width: 18rem;
    }

    .form-btns {
        align-self: center;
        width: 18rem;
    }
    .forgot-password {
        display: block;
        padding: 1rem 0;
        font-size: $font-size-sm;
        color: $text-color;
        &:hover {
            color: $secondary-darker;
        }
    }
}

