@import '../abstracts/variables';
@import '../abstracts/mixins';


.profile-info .bio-adm {
    padding-bottom: 4rem;
    text-align: center;
    grid-area: bio;
}

.adm-stats {
    margin: 4rem 0;

    .tags-stats-card {
        max-width: calc(48rem + 1vw);
        margin: 0 auto;
        padding: 2rem;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
        border-radius: 30px;

        .stats-title {
            font-size: $font-size-xl;
            margin-bottom: 2rem;
        }


        .tags-stats-content {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            max-height: 50vh;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 0.5em;
                height: 0.5em;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $background-color;
                border-radius: 3px;
            }
        }


        .tag-stats {
            margin-right: 10px;
            display: flex;
            align-content: center;
            border: 1px solid $neutral-color;
            padding: 1rem 0.5rem;

            .tag-title-stats {
                display: flex;
                align-items: center;
                padding-bottom: 0.5rem;
                min-width: 120px;
            }

            .tag-uses {
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 2rem;

                span {
                    color: $primary-color;
                }
            }
        }
    }
}


.card-container .card-denuncia-projeto {
    .card-denuncia-title {
        font-size: $font-size-xl;
        color: $secondary-color;
        margin-bottom: 1rem;
    }

    .card-text {
        min-height: 4rem;
    }

    .card-denunciantes {
        min-height: 6rem;
        margin-top: 1rem;
        color: $text-color;

        .profile-pic-mini {
            margin: 0.5rem auto 0 auto;
        }

        .numero-denunciantes {
            font-size: $font-size-sm;
            padding: 1rem;
            position: relative;
            bottom: 2.5rem;
            left: 2.5rem;
        }
    }
}

.card-container .card-denuncia-perfil {
    .card-denuncia-title {
        font-size: $font-size-xl;
        color: $secondary-color;
        margin-bottom: 1rem;
    }

    .card-img {
        border-radius: 50%;
        max-width: calc(12rem + 1vw);
        margin: 0 auto;
    }

    .card-text {
        min-height: 4rem;
    }

    .card-denunciantes {
        min-height: 6rem;
        margin-top: 1rem;
        color: $text-color;

        .profile-pic-mini {
            margin: 0.5rem auto 0 auto;
        }

        .numero-denunciantes {
            font-size: $font-size-sm;
            padding: 1rem;
            position: relative;
            bottom: 2.5rem;
            left: 2.5rem;
        }
    }
}

.mais-denuncias-list {
    .mais-denuncias-item {
        .denuncia-extra-container {
            display: flex;
            margin-bottom: 2rem;
        }

        .denuncia-extra-img {
            display: flex;
            align-items: center;

            .profile-pic-mini {
                width: 6rem;
                height: 6rem;
            }
        }

        .denuncia-extra-info {
            padding-top: 0.5rem;
            margin-left: 1rem;
            text-align: left;
            max-width: calc(32rem + 1vw);

            :first-child {
                margin-right: 2rem;
            }

            :nth-child(2) {
                color: $secondary-color;
            }

            :last-child {
                margin-top: 0.5rem;
            }
        }
    }
}

@include medium-max() {
    .tag-uses {
        grid-template-rows: auto !important;
        grid-template-columns: 1fr !important;
        grid-row-gap: 0.5rem;
    }


    .denuncia-extra-container {
        flex-direction: column;
        justify-content: center;
    }
}

/*<section class="adm-stats" >
<div class="tags-stats-container" >
@*foreach*@
<div class="tag-stats" >
<div class="tag-container" >
<div class="tag" > <span class="tag-text" > Tag</span > </div >
</div >
<ul class="tag-uses" >
<li > Número de projetos: 666</li >
<li > Número de perfis de usuário: 666</li >
<li > Número de vezes pesquisada: 666</li >
</ul >
</div >
</div >
</section >
*/
