@import '../abstracts/variables';
@import '../abstracts/mixins';


.descricao {
    position: relative;

    .salvar-projeto {
        cursor: pointer;
        position: absolute;
        right: 0;

        svg {
            path {
                transition: fill 0.2s;
            }

            &:hover {
                path {
                    fill: $primary-color;
                    transition: fill 0.2s;
                }
            }
        }
    }

    .salvo {
        svg {
            path {
                fill: $primary-color;
                transition: fill 0.2s;
            }

            &:hover {
                path {
                    fill: $primary-darker;
                    transition: fill 0.2s;
                }
            }
        }
    }

    .btn-report {
        position: absolute;
        top: -1rem;
        right: 0;
    }
}
