@{
    //ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    string[] user = User.Identity.Name.Split('|');
    <h1>Bem vinde, @user[1]</h1>
}


@*<div class="tag-group interests">

    <div class="add-tag">
        <span class="iconify" data-icon="tabler:plus" data-inline="false"></span>
    </div>
</div>*@
