@model Sistema.Models.Usuario

@{
    ViewBag.Title = "- Meu Perfil";
    Layout = "~/Views/Shared/_LayoutPerfil.cshtml";
}

<section class="profile-section content-container">
    <div class="bg">

    </div>
    <div class="profile-pic">
        <img class="circle-pic" src="https://images.generated.photos/d9cnAQBYXb01cPV7O71580U3GYQNS6bhlEXT2F4jwsw/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzAwOTY0MTVfMDY3/MzMwNV8wODE0NTQ0/LmpwZw.jpg" alt="Foto de perfil" />
        <a class="profile-pic-edit" href="#"><span class="iconify" data-icon="tabler:camera" data-inline="false"></span></a>
    </div>

    <h1 class="username">@Model.Nome</h1>

    <div class="profile-info">
        <p>@Model.Email</p>
        <div class="bio">
            <p class="bio-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis nisl libero, quis imperdiet turpis dapibus sit amet. Suspendisse vulputate lorem sit amet ipsum imperdiet rutrum</p>
                <a class="edit-bio" href="#"><span class="iconify" data-icon="tabler:edit" data-inline="false"></span></a>
        </div>
    </div>

    <div class="profile-interests">
        <ul class="tag-group interests">
            <li class="tag-container">
                <div class="tag"><span class="tag-text">Nome da tag só que maior</span><span class="iconify" data-icon="tabler:x" data-inline="true"></span></div>
            </li>
            <li class="tag-container">
                <div class="tag"><span class="tag-text">Nome da tag</span><span class="iconify" data-icon="tabler:x" data-inline="true"></span></div>
            </li>
            <li class="tag-container">
                <div class="tag"><span class="tag-text">tag</span><span class="iconify" data-icon="tabler:x" data-inline="true"></span></div>
            </li>
            <li class="tag-container">
                <div class="tag"><span class="tag-text">Nome</span><span class="iconify" data-icon="tabler:x" data-inline="true"></span></div>
            </li>
            <li class="tag-container">
                <div class="tag"><span class="tag-text">Nome da tag</span><span class="iconify" data-icon="tabler:x" data-inline="true"></span></div>
            </li>
            <li class="tag-container">
                <div class="tag"><span class="tag-text">Batman</span><span class="iconify" data-icon="tabler:x" data-inline="true"></span></div>
            </li>

            <li class="add-tag">
                <span class="iconify" data-icon="tabler:plus" data-inline="false"></span>
            </li>
        </ul>
    </div>

    <h2 class="my-projects-title">Meus projetos</h2>
</section>

<section class="projects-section">

    <div class="glider-contain">
        <div class="glider">
            <div class="card-container">
                <div class="project-card">
                    <a href="#">
                        <div class="card-img">
                            <img src="http://placekitten.com/500/300" alt="Imagem do projeto" />
                        </div>
                        <h3 class="card-title">Meu projeto</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis nisl libero, quis imperdiet turpis dapibus sit amet. Suspendisse vulputate lorem sit amet ipsum imperdiet rutrum...</p>
                        <ul class="card-tags">
                            <li class="tag-container">
                                <div class="tag"><span class="tag-text">Batman</span></div>
                            </li>
                            <li class="tag-container">
                                <div class="tag"><span class="tag-text">Batman</span></div>
                            </li>
                            <li class="tag-container">
                                <div class="tag"><span class="tag-text">Batman</span></div>
                            </li>

                        </ul>
                    </a>
                </div>
            </div>

            <div class="card-container">
                <div class="project-card">
                    <a href="#">
                        <div class="card-img">
                            <img src="http://placekitten.com/500/300" alt="Imagem do projeto" />
                        </div>
                        <h3 class="card-title">Meu projeto2</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis nisl libero, quis imperdiet turpis dapibus sit amet. Suspendisse vulputate lorem sit amet ipsum imperdiet rutrum...</p>
                        <ul class="card-tags">
                            <li class="tag-container">
                                <div class="tag"><span class="tag-text">Batman</span></div>
                            </li>
                            <li class="tag-container">
                                <div class="tag"><span class="tag-text">Batman</span></div>
                            </li>
                            <li class="tag-container">
                                <div class="tag"><span class="tag-text">Batman</span></div>
                            </li>

                        </ul>
                    </a>
                </div>
            </div>

            <div class="card-container">
                <div class="project-card">
                    <a href="#">
                        <div class="card-img">
                            <img src="http://placekitten.com/500/300" alt="Imagem do projeto" />
                        </div>
                        <h3 class="card-title">Meu projeto3</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis nisl libero, quis imperdiet turpis dapibus sit amet. Suspendisse vulputate lorem sit amet ipsum imperdiet rutrum...</p>
                        <ul class="card-tags">
                            <li class="tag-container">
                                <div class="tag"><span class="tag-text">Batman</span></div>
                            </li>
                            <li class="tag-container">
                                <div class="tag"><span class="tag-text">Batman</span></div>
                            </li>
                            <li class="tag-container">
                                <div class="tag"><span class="tag-text">Batman</span></div>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>

            <div class="card-container">
                <div class="project-card">
                    <a href="#">
                        <div class="card-img">
                            <img src="http://placekitten.com/500/300" alt="Imagem do projeto" />
                        </div>
                        <h3 class="card-title">Meu projeto4</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis nisl libero, quis imperdiet turpis dapibus sit amet. Suspendisse vulputate lorem sit amet ipsum imperdiet rutrum...</p>
                        <ul class="card-tags">
                            <li class="tag-container">
                                <div class="tag"><span class="tag-text">Batman</span></div>
                            </li>
                            <li class="tag-container">
                                <div class="tag"><span class="tag-text">Batman</span></div>
                            </li>
                            <li class="tag-container">
                                <div class="tag"><span class="tag-text">Batman</span></div>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>

        <button aria-label="Previous" class="glider-prev"><span class="iconify" data-icon="tabler:chevron-left" data-inline="false"></span></button>
        <button aria-label="Next" class="glider-next"><span class="iconify" data-icon="tabler:chevron-right" data-inline="false"></span></button>
        <div role="tablist" id="resp-dots" class="glider-dots"></div>
    </div>
    
</section>


