@import '../abstracts/variables';
@import '../abstracts/mixins';


html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    
    min-height: 100%;
    //com margin-top: auto no footer empurra o footer para o fim da pg
    display: flex;
    flex-direction: column;
}

.bg-blob-top {
    background: url('../img/blob-top.svg') #fff;
    background-position: 100% -200px;
    background-repeat: no-repeat;
}

.bg-blob-2 {
    background: url('../img/blob-top.svg'), url('../img/blob-middle.svg');
    background-position: 100% -200px, 0 80vh;
    background-repeat: no-repeat;
}

.content-container {
    padding: $container-padding;
    margin-top: 8rem;
    height: auto;
    min-height: 100%;

    /*h1, h2, h3, h4, h4, h6 {
        font-size: $font-size-title;
    }*/
}

@include medium-max() {
    .bg-blob-top, .bg-blob-2 {
        background: none;
    }

    .content-container {
        margin-top: 8rem;
    }
}