@import '../abstracts/variables';
@import '../abstracts/mixins';


.navbar {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: auto;
    padding: 0.5rem $nav-padding-x 0.5rem $nav-padding-x;
    transition: background-color 0.2s;
    /*position: fixed;
    top: 0;*/

    .navbar-logo {
        width: 4rem;

        img {
            min-width: 3rem;
            width: 100%;
        }
    }

    .navbar-list {
        display: flex;
        list-style: none;
        margin-left: auto;
        li:not(:first-of-type) {
            margin-left: $nav-items-spacing;
        }

        li a {
            color: #fff;
            font-weight: 500;
            padding: 0.5rem 1rem;
            white-space: nowrap;
            transition: color 0.3s, border-color 0.2s;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
            border-radius: 30px;
        }

        li a:hover {
            border-width: 2px;
            border-style: solid;
            border-color: #fff;
            border-radius: 30px;
            transition: border-color 0.2s;
        }
    }
}

.navbar.navbar-profile {
    background: $primary-color;
}

@include medium-max() {
    .navbar {
        background: #fff;
        position: fixed;

        .navbar-list li a {
            color: $text-color;
        }
    }

    .navbar.navbar-profile {
        .navbar-list li a {
            color: #fff;
        }
    }
}

@include small-max() {
    .navbar {
        padding: 0.5rem 2rem;
        .navbar-logo {
            width: 3rem;
        }
    }
}

