@import '../abstracts/variables';
@import '../abstracts/mixins';


.navbar {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: auto;
    padding: 0.5rem $nav-padding-x 0.5rem $nav-padding-x;
    transition: background-color 0.2s;
    position: fixed;
    top: 0;


    .navbar-logo {
        width: 4rem;

        img {
            min-width: 4rem;
            width: 100%;
        }
    }

    .navbar-list {
        display: flex;
        list-style: none;
        margin-left: auto;
        //:last-child {
        //  margin-left: 4vw;
        //}
        li:not(:first-of-type) {
            margin-left: $nav-items-spacing;
        }

        li a {
            padding: 0.5rem 1rem;
            color: #fff;
            white-space: nowrap;
            transition: color 0.3s, border-color 0.2s;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            border-radius: 30px;
        }

        li a:hover {
            border-width: 1px;
            border-style: solid;
            border-color: #fff;
            border-radius: 30px;
            transition: border-color 0.2s;
        }
    }
}

.navbar-light {
    background-color: #fff;
    transition: background-color 0.2s;

    .navbar-list {
        /*li a::after {
            content: "";
            background: $primary-color;
            display: block;
            height: 2px;
            border-radius: 30px;
            width: 0px;
            margin: 0 auto;
            transition: width 0.2s;
        }

        li a:hover::after {
            width: 100%;
        }*/
        li a:hover {
            border-color: $text-color;
        }
    }

    .navbar-list li a {
        color: $text-color;
        transition: color 0.5s;
    }
}

@include medium-max() {
    .navbar {
        background: #fff;
        height: auto;
        position: fixed;
        top: 0;


        .navbar-list li a {
            color: $text-color;
        }
    }
}
