@import '../abstracts/_variables.scss';

.profile-pic {
    width: 16rem;
    height: 16rem;
    margin: 0 auto 1rem auto;
    border-radius: 50%;
    background: $neutral-color;
    display: flex;
    align-content: center;
    overflow: hidden;
}

.profile-pic-edit {
    font-size: $font-size-title;
    color: $text-color;
}

.profile-pic-mini {
    width: 3rem;
    height: 3rem;
}

.circle-pic {
    width: 100%;
    object-fit: cover;
}

.avatar-placeholder {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    color: #c1c1c1;
    font-size: 10rem
}

