@import '../abstracts/variables';
@import '../abstracts/mixins';

a.btn {
    display: block;
}
.btn, .swal2-styled.swal2-confirm {
    border: none;
    border-radius: 100px;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.05rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: none;
}

.btn-primary, .swal2-styled.swal2-confirm {
    background-color: $primary-color;

    &:hover {
        background-color: $primary-darker;
    }
}

.btn-secondary {
    background-color: $secondary-color;
   &:hover {
        background-color: $secondary-darker;
    }
}

.form-btns {
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    align-self: center;
    width: 100%;

    :not(:first-child) {
        margin-left: 20%;
    }
}

.pesquisa-btn{
    padding: 1rem;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
    font-size: $font-size-lg;
    display:flex;
    justify-content:center;
    align-items:center;
}

