@import '../abstracts/variables';
@import '../abstracts/mixins';

a.btn {
    display: inline;
    line-height: 1.15;
}

.btn, .swal2-styled.swal2-confirm {
    border: none;
    border-radius: 100px;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.05rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align:center;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: none;
}

.btn-primary, .swal2-styled.swal2-confirm {
    background-color: $primary-color;

    &:hover {
        background-color: $primary-darker;
    }
}

.btn-secondary {
    background-color: $secondary-color;
   &:hover {
        background-color: $secondary-darker;
    }
}

.form-btns {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;

    :not(:first-child) {
        margin-left: 10%;
    }
}

.pesquisa-btn {
    padding: 8px;
    border-radius: 50%;
    background-color: $primary-color;
    font-size: $font-size-lg;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: $primary-darker;
    }
}

.add-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    background: $primary-color;
    color: #fff;
    font-size: $font-size-xl;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: $primary-darker;
    }

    .iconify {
        margin: 0;
    }
}

.delete-acc {
    background: #ff9090;

    &:hover {
        background: #ff9090;
    }
}

.btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    font-size: $font-size-xl;
    background: $danger-color;
    color: #fff;
    cursor:pointer;
}


.btn-report {
    background: none;
    border: none;
    font-size: $font-size-title;
    color: $danger-color;
}

@include medium-max() {
    .form-btns {
        flex-direction: column;
        justify-content: flex-start;

        * {
            flex: 1 0 auto;
        }

        :not(:first-child) {
            margin-left: 0;
            margin-top: 1.2rem;
        }
    }
}
