@import '../abstracts/variables';

.validation-summary-error, .validation-summary-error {
    /*background: #fff;*/
    border-radius: 30px;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.text-danger {
    font-size: $font-size-sm;
    color: #ff9090;
}

.field-validation-error {
   /* background: #fff;*/
    border-radius: 30px;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

