@import '../abstracts/variables';

.validation-summary-error {
    background: #ff9090;
    border-radius: 30px;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.text-danger {
    font-size: $font-size-sm;
    color: red;
}

.field-validation-error {
    background: #ff9090;
    border-radius: 30px;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

