@import '../abstracts/variables';
@import '../abstracts/mixins';

.heading-page {
    margin: 2rem 0;
    font-size: $font-size-xl;
    text-align: center;
}

.sub-heading {
    text-align: center;
    margin-bottom: 2rem;
}
