@import '../abstracts/variables';
@import '../abstracts/mixins';

input[type=radio] {
    position: absolute;
    opacity: 0;
    z-index: -9999;
}

input[type=radio] + label {
    position: relative;
    padding-left: 24px;
    display: flex;
    flex-direction: row-reverse;
}

input[type=radio] + label .indicator {
    position: relative;
    left: -4px;
    display: block;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid $secondary-color;
    cursor: pointer;
    transition: box-shadow 200ms, border 200ms, background 200ms;
}

input[type=radio] + label .indicator:hover {
    background: $neutral-color;
}

input[type=radio]:focus + label .indicator {
    box-shadow: 0px 0px 1px 2px $secondary-darker;
}

.label-text {
    position: relative;
    top: 4px;
    margin-right: 2rem;
}


input[type=radio]:checked + label .indicator {
    background: #fff;
}

input[type=radio]:checked + label .indicator::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $secondary-color;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
