@import '../abstracts/_variables.scss';



.tag-group {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 30px;
    background: $neutral-color;
    margin-top: 2rem;
    padding: 0 0.25rem 0.5rem 0.25rem;
    //:not(:last-of-type) {
    //margin-right: -1rem; //must be equal to horizontal padding of the .tag * -1
    //}
    .iconify {
        font-size: $font-size-lg;
        margin-left: 0.4rem;
        cursor: pointer;
    }
}

.tag-container {
    display: inline-flex;
    padding: 0.5rem 0.25rem 0 0.25rem;
    transition: filter 0.3s;



    .tag {
        display: flex;
        border: 1px solid $border-color;
        border-radius: 30px;
        padding: 0.2rem 0.5rem;
        background: #fff;
        font-size: $font-size-sm;

        .tag-text {
            line-height: 1.3rem;
            vertical-align: bottom;
        }

        
    }
}


.interests {
    background: $secondary-color;
    padding-right: 1rem;
    position: relative;

    .add-tag {
        position: absolute;
        right: -1rem;
        top: 50%;
        transform: translateY(-50%);
        .iconify {
            margin: 0;
        }
    }
}
